.gradio-container { 
    max-width: 100% !important;
}
iframe {
    width: 100%;
    height: calc(100vh - 33px);
    border: 1px #e5e7eb solid;
    border-radius: 8px;
}
#build-date {
    color: #9ca3af;
    padding-top: 0px;
    position: absolute;
    top: -28px;
}